
.bgcolor { background-color:silver}
.navbarbgcolor{background-color: rgb(6, 6, 65)

}
.navbartext{
    color:rgb(224, 211, 211)
}
.itag{
    font-family: cursive;
    font-size: larger;
}
.introbodybgcolor{
    background-color: silver;
}